.navpicture {
    max-width: 50px;
}

.nameheader {
    margin-top: 20px;
}

.footer {
    color: rgba(0, 0, 0, 0.55);
    color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.9);
}

footer {
    background-color: #fffef0;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .fa-brands {
    font-size: 30px;
    margin-top: -4px;
  }

  .twitter-timeline {
    margin-left: auto;
    margin-right: auto;
  }

  .about-img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
  }

  .about {
    max-width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

  .about-div {
    text-align: center;
  }

  body {
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
  }

  .left-content {
    background-color: #fffef0; 
    border-radius: 8px;
    height: auto;
    width: auto;
  }

  .right-content {
    /* background-color: #fffef0; */
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: auto;
    max-width: 320px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

